@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Aero";
    src: url("../fonte/Aero.ttf") format("truetype");
}

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fontt-heebo: 'Heebo', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    /* --cor1: #C92828; */
    --cor1: #BF3030;
    --cor2: #A9A9A9;
    --cor3: #E9E9E9;
    --cor4: #1F2024;
    --cor5: #F0F0F2;
}

*{
    padding: 0;
    margin: 0;
}
.parte_dois{
    margin: 0% 5% 0 8%;
    height:auto;
    margin-bottom: 10%;   
}

.pttext{
    color: white;
    text-shadow: 2px 2px 10px rgba(19, 18, 18, 0.822);
    text-align: center;
    font-size: 22px;
    padding-bottom: 2%;
    font-family: var(--font-titulo);
}

.pt2text{
    color:var(--cor1);
    font-size: 20px;
    font-family: var(--font-titulo);
    padding: 15px 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.712);
    /* margin-top: 2%; */
}

.pttexto{
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.bntpt2{
    margin-top: 3%;
    background-color: #BF3030;
    border: none;
    border-radius: 10px;    
    margin-right: 5%;
    padding: 3%;
    width: 40%;
}
.btnlink a{
    font-family: var(--font-padrao);
    text-decoration: none;
    color: white;
    padding:1% 0;
    display: block;
    font-weight: 500;
    
}

.star{
    color: #F2D027;
    margin: -1% 0 0 4%;
    
}
.partecima{
    display: flex;
    flex-direction: row;
    margin: 1% 0;

}
.coment{
    padding: 1.5%;
    border: 1px solid var(--cor1);
    color: rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    margin-bottom:  1%;
}
.t1{
    font-size: 14px;
    font-weight: 700;
    
}
.t2{
    font-size: 12px;
    line-height: 140%;
}