@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fontt-heebo: 'Heebo', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --cor1: #C92828;
    --cor2: #A9A9A9;
    --cor3: #E9E9E9;
}

*{
    padding: 0;
    margin: 0;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 20px;
}
.primeiro_icone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    text-align: center;
}
.starfoto{
    display: flex;
    justify-content: center;
}
.star{
    width: 45px;
}
.segundo_icone{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:10px;
    width: 30%;
    text-align: center;

}
.qualityfoto{
    display: flex;
    justify-content: center;
    
}
img.quality
{
    width: 40px;
}
.terceiro_icone{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    text-align: center;
    margin-top: 10px;

}
.cifraofoto{
    display: flex;
    justify-content: center;
}
img.cifrao{
    height: 40px;
}
.comet-text{
    font-size: 12px;
    font-family: var(--font-padrao);
}
.sub3{
    text-align: center;
    font-size: 20px;
    padding: 30px;
    font-family: var(--font-titulo);
    font-weight:500;
}
.titulo{
    color:var(--cor1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:var(--font-titulo);
    justify-content: center;
}
.comentarios{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #a9a9a963;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 0 30px 0;
}
div.coment{
    width: 25%;
    box-sizing: border-box;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.459);
    font-family: var(--font-padrao);   
    /* transition: 1s; */
}
div.coment-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
}
div.nome{
    display: flex; 
    padding: 5px;
    font-size: 13px;
}
.nome img{
    width: 30px;
    height: 30px;
}
.nome h4{
    margin: auto;
    padding: 0 5px 0 5px;
    font-family: var(--font-titulo);
}
.aval{
    display: flex;
    justify-content: center;
}
.aval img{
    margin: auto;
    width: 20px;
    height: 20px;
}
/* div.coment:hover{
    transform: scale(1.1);
   
} */

@media (max-width: 699px) {

    .icones{
        display: inline-block;
        margin: auto;
        padding: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .primeiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .segundo_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .terceiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .comentarios{
        display: inline-block;
        width: 100%;
        padding: auto;
        margin: auto;
        height: auto;
        box-sizing: border-box;
    }
    div.coment{
        display: block;
        box-sizing: border-box;
        margin: 20px 0 ;
        padding: auto;
        width: 100%;
    }
    
}
@media (min-width: 700px) and (max-width:899px){
    .icones{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .primeiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .segundo_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .terceiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .comentarios{
        display: inline-block;
        width: 100%;
        padding: auto;
        margin: auto;
        height: auto;
        box-sizing: border-box;
    }

    div.coment{
        display: block;
        box-sizing: border-box;
        margin: 20px 0;
        padding: auto;
        width: 100%;

    }
}
@media (min-width: 900px) {
    .icones{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .primeiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .segundo_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .terceiro_icone{
        display: block;
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .comentarios{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: auto;
        margin: auto;
        height: auto;
        box-sizing: border-box;
    }

    div.coment{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0 20px ;
        padding: auto;
        width: 100%;

    }
}


    