@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fontt-heebo: 'Heebo', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --cor1: #C92828;
    --cor2: #A9A9A9;
    --cor3: #E9E9E9;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.footer-rodape-certo{
    height: 396px;
    width: 100%;
    background-color: black;
    font-family: Helvetica, sans-serif;
}

.footer-rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-rodape{
    width: 50px;
    padding: 10px;
    transition: 0.25s;
    transform: translate(0, 0);
}

.icon-rodape:hover{
    transition: 0.25s;
    transform: translate(4px, 0);
    
}

.redes-rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rodape_logo{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.rodape_logo1{
    width: 250px;
    padding: 20px;
    padding-bottom: 40px;
}

.item-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    justify-content: center;
    padding: 50px 0 0 0;
}

.itemN-rodape{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%; 
}

footer h3{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.parteN-rodape{
    width: 50%;
    display: flex;
    justify-content: center;
   /* background-color: aquamarine;*/
    height: 200px;
}

.parteNS-rodape{
    width: 50%;
    display: flex;
    justify-content: center;
    /*background-color: blue;*/
    height: 200px;
}

.e50-rodape,.lib1-rodape,#e30-rodape{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
}

.link-rodape{
    text-decoration: none;
}

.link-rodape:hover{
    text-decoration: none;


}

.lib1-rodape{
    line-height: 24px;
    transform: translate(0,0);
    transition: 0.25s;
    margin: 0 0 10px;
}

.lib1-rodape:hover{
    line-height: 35px;
    transform: translate(4px,0);
    transition: 0.25s;
    color: #C92828;
}

#e30-rodape{
    transform: translate(0,0);
    transition: 0.25s;
}

#e30-rodape:hover{
    transform: translate(4px,0);
    transition: 0.25s;
    color: #C92828;
}

@media (min-width: 899px){
    .ic3-rodape{
        display: none;
    }
}

@media (max-width: 899px){
    .item-rodape{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .itemN-rodape{
        font-family: 'Inter', sans-serif;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 0%;
        color: transparent;
    }

}