@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Aero";
    src: url("../fonte/Aero.ttf") format("truetype");
}

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fontt-heebo: 'Heebo', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    /* --cor1: #C92828; */
    --cor1: #BF3030;
    --cor2: #A9A9A9;
    --cor3: #E9E9E9;
    --cor4: #1F2024;
    --cor5: #F0F0F2;
}

/* body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-padrao);
  background-color: #1F2024;
} */

  main, footer, body{
  background-color: #1F2024;
  }

  .servicos_medcar{
    animation: fadein 1s;
    height: auto;

    font-family: var(--font-titulo);
  }
  
  .img_item{
    width: 10%;
    height: 10%;
    transition: 0.5s;
  }
  
  .img_box{
    width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.7);
  }
  
  .legenda{
    color: white;
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
  }
  
  .descricao{
    position: absolute;
    font-size: 90%;
    background-color: gray;
    color: black;
    border: 3px solid white;
    display: none;
    height: auto;
    z-index: 5;
    width: 400px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    animation: fadein 0.5s;
  }

  .inverter{
    right: 1%;
  }
  
  .descricao h3{
    text-align: center;
    font-weight: 900;
    font-size: 120%;
  }
  
  .lista{
    padding-left: 10%;
    text-align: left;
    font-weight: 800;
    font-size: 80%;
  }
  
  .lista li{
    padding-bottom: 5px;
  }
  
  .img_item:hover{
    transform: scale(1.3,1.3);
    z-index: 10;
  }
  
  .frase_final{
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 100px;
  }

  .img_item:hover .descricao{
    display: block;
  }
  
  @keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  
  @keyframes fadeinimg{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
  }

  @media (max-width:992px) {
    .titulo{
        font-size: 300%;
    }

    .img_box{
        width: 20%;
        align-items: center;
    }

    .img_item{
        display: inline-block;
        text-align: center;
        width: 25%;
        margin: 10px;
    }

    .legenda{
        font-size: 150%;
    }

    .frase_final{
        margin-top: 50px;
        font-size: 100%;
    }

    .descricao h3{
        font-weight: 900;
        font-size: 120%;
      }

    .lista{
        padding-left: 10%;
        text-align: left;
        font-weight: 800;
        font-size: 70%;
    }

    .descricao{
        font-size: 110%;
        width: 400px;
    }

    .img_item:hover{
        transform: none
    }
  }